<h1> Kaikki ilmoitukset </h1>
{{#each autot}}

	<div class="auto">
		<h3>ID: {{id}}</h3>
		<p>Merkki: {{merkki}}</p>
		<p>Malli: {{malli}}</p>
		<p>Korimalli: {{korimalli}}</p>
		<p>Polttoaine: {{polttoaine}}</p>
		<p>Vaihteisto: {{vaihteisto}}</p>
		<p>Väri: {{vari}}</p>
		<p>Vuosi: {{vuosi}}</p>
		<p>Hinta: {{hinta}}</p>
						
		<div class ="gallery"id="autogalleria">
			<a target="_blank" href="/imgs/autot/{{id}}.jpg">
			<img src="/imgs/autot/{{id}}.jpg">
			</a>
		</div>		
	</div>		

{{/each}}
<h6>its a secret </h6>

