<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<script>
	var imgIDs[8];


</script>

</head>

<h1>Tervetuloa Autokauppa OY:n sivuille!</h1>

	<div class ="clearfix">
	
	<div id ="col1"> Päivän Tarjous!! </div>
		<div class = "column autoContainer">
		{{#each autot}}		
				<h3>ID: {{id}}</h3>
				<p>Merkki: {{merkki}}</p>
				<p>Malli: {{malli}}</p>
				<p>Korimalli: {{korimalli}}</p>
				<p>Polttoaine: {{polttoaine}}</p>
				<p>Vaihteisto: {{vaihteisto}}</p>
				<p>Väri: {{vari}}</p>
				<p>Vuosi: {{vuosi}}</p>
				<p>Hinta: {{hinta}}</p>
				
				<div id="mainos">
				   <a target="_blank" href="/imgs/autot/{{id}}.jpg">
						<img src="/imgs/autot/{{id}}.jpg" width="600" height="300">
				   </a>
				</div>
		{{/each}}

		</div>

		<div class ="column galleria">
			<div class="responsive">
				<div class ="gallery">
				   <a target="_blank" href="/imgs/autot/1.jpg">
					<img src="/imgs/autot/1.jpg" width="300" height="200">
				   </a>
				</div>
			</div>
			
			<div class="responsive">
				<div class ="gallery">
					   <a target="_blank" href="/imgs/autot/2.jpg">
						<img src="/imgs/autot/2.jpg" width="300" height="200">
				   </a>
				</div>
			</div>
			
			<div class="responsive">
				<div class ="gallery">
					   <a target="_blank" href="/imgs/autot/3.jpg">
						<img src="/imgs/autot/3.jpg" width="300" height="200">
				   </a>
				</div>
			</div>
			
			<div class="responsive">
				<div class ="gallery">
					   <a target="_blank" href="/imgs/autot/4.jpg">
					<img src="/imgs/autot/4.jpg" width="300" height="200">
				   </a>
				</div>
			</div>
			
		<div class="responsive">
				<div class ="gallery">
				 	   <a target="_blank" href="/imgs/autot/5.jpg">
					<img src="/imgs/autot/5.jpg" width="300" height="200">
				   </a>
				</div>
			</div>
			
		<div class="responsive">
				<div class ="gallery">
				  	   <a target="_blank" href="/imgs/autot/6.jpg">
		<img src="/imgs/autot/6.jpg" width="300" height="200">
				   </a>
				</div>
			</div>
			
		<div class="responsive">
				<div class ="gallery">
				  	   <a target="_blank" href="/imgs/autot/7.jpg">
		<img src="/imgs/autot/7.jpg" width="300" height="200">
				   </a>
				</div>
			</div>
			
		<div class="responsive">
				<div class ="gallery">
				  	   <a target="_blank" href="/imgs/autot/8.jpg">
		<img src="/imgs/autot/8.jpg" width="300" height="200">
				   </a>
				</div>
			</div>
		</div>
	</div>