<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<!-- hakupalkki -->
<div class="col1">

</div>

<h1>Etusivu</h1>

	<div class ="auto">
	<p>Päivän nosto!</p>
		{{#each autot}}
			<div class="auto">
				<h3>{{id}}</h3>
				<p>Merkki: {{merkki}}</p>
				<p>Malli: {{malli}}</p>
				<p>Korimalli: {{korimalli}}</p>
				<p>Polttoaine: {{polttoaine}}</p>
				<p>Vaihteisto: {{vaihteisto}}</p>
				<p>Väri: {{vari}}</p>
				<p>Vuosi: {{vuosi}}</p>
				<p>Hinta: {{hinta}}</p>
			</div>
		{{/each}}
	</div>