<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">



</head>

<h1>Tervetuloa Autokauppa OY:n sivuille!</h1>

	<div class ="clearfix">
	
	<div id ="col1"> Päivän Tarjous!! </div>
	<div id ="col2"> Autogalleria </div>
	
		<div class = "column autoContainer">
		{{#each autot}}		
				<h3>ID: {{id}}</h3>
				<p>Merkki: {{merkki}}</p>
				<p>Malli: {{malli}}</p>
				<p>Korimalli: {{korimalli}}</p>
				<p>Polttoaine: {{polttoaine}}</p>
				<p>Vaihteisto: {{vaihteisto}}</p>
				<p>Väri: {{vari}}</p>
				<p>Vuosi: {{vuosi}}</p>
				<p>Hinta: {{hinta}}</p>
				
				<div class="mainos">
				   <a target="_blank" href="/imgs/autot/{{id}}.jpg">
						<img src="/imgs/autot/{{id}}.jpg">
				   </a>
				</div>
		{{/each}}
		</div>
		
		<div class ="column galleria">
			<div class="responsive">
			<div class ="gallery etusivu">
				   <a id="a1" target="_blank" href="/imgs/autot/1.jpg">
					<img id="1" src="/imgs/autot/1.jpg">
				   </a>
				</div>
			</div>
			
			<div class="responsive">
				<div class ="gallery etusivu">
					   <a id="a2" target="_blank" href="/imgs/autot/2.jpg">
						<img id="2" src="/imgs/autot/2.jpg">
				   </a>
				</div>
			</div>
			
			<div class="responsive">
				<div class ="gallery etusivu">
					   <a id="a3" target="_blank" href="/imgs/autot/3.jpg">
						<img id="3" src="/imgs/autot/3.jpg">
				   </a>
				</div>
			</div>
			
			<div class="responsive">
				<div class ="gallery etusivu">
					   <a id="a4" target="_blank" href="/imgs/autot/4.jpg">
					<img id="4" src="/imgs/autot/4.jpg">
				   </a>
				</div>
			</div>
			
		<div class="responsive">
				<div class ="gallery etusivu">
				 	   <a id="a5" target="_blank" href="/imgs/autot/5.jpg">
					<img id="5" src="/imgs/autot/5.jpg">
				   </a>
				</div>
			</div>
			
		<div class="responsive">
				<div class ="gallery etusivu">
				  	<a id="a6" target="_blank" href="/imgs/autot/6.jpg">
					<img id="6" src="/imgs/autot/6.jpg">
				   </a>
				</div>
			</div>
			
		<div class="responsive">
				<div class ="gallery etusivu">
				  	<a id="a7" target="_blank" href="/imgs/autot/7.jpg">
					<img id="7" src="/imgs/autot/7.jpg">
				   </a>
				</div>
			</div>
			
		<div class="responsive">
				<div class ="gallery etusivu">
				  	<a id="a8" target="_blank" href="/imgs/autot/8.jpg">
					<img id="8" src="/imgs/autot/8.jpg">
				   </a>
				</div>
			</div>
		
			<div class="responsive">
				<div class ="gallery etusivu">
				  	<a id="a9" target="_blank" href="/imgs/autot/9.jpg">
					<img id="9" src="/imgs/autot/9.jpg">
				   </a>
				</div>
			</div>

	<div class="responsive">
				<div class ="gallery etusivu">
				  	<a id="a10" target="_blank" href="/imgs/autot/10.jpg">
					<img id="10" src="/imgs/autot/10.jpg">
				   </a>
				</div>
			</div>

	<div class="responsive">
				<div class ="gallery etusivu">
				  	<a id="a11" target="_blank" href="/imgs/autot/11.jpg">
					<img id="11" src="/imgs/autot/11.jpg">
				   </a>
				</div>
			</div>			
			
				<div class="responsive">
				<div class ="gallery etusivu">
				  	<a id="a12" target="_blank" href="/imgs/autot/12.jpg">
					<img id="12" src="/imgs/autot/12.jpg">
				   </a>
				</div>
			</div>
			
			
		</div>
	</div>
	
</br></br>

	<script>
	
	// Taulukko, johon lisätään satunnaiset ID:t
	var imgIDs = [];
	var index = 0;
	var id;
	
	while(index < 12){	
		id = Math.floor((Math.random() * 20) + 1);
		
		// Ei lisätä duplikaatteja
		if(!imgIDs.includes(id)){
			imgIDs.push(id);
			index++;	
		}
	}
	
	// Etsitään elementtit <a> ja <img>
	for(var i = 1; i < imgIDs.length + 1; i++){
		document.getElementById("a" + i.toString()).href = ("/imgs/autot/" + imgIDs[i-1].toString() + ".jpg");
		document.getElementById(i.toString()).src = ("/imgs/autot/" + imgIDs[i-1].toString() + ".jpg");	
	}
</script>